body {
background: DarkCyan;
text-align: center
}
#main {
width: 1000px;
height: 600px;
background: #C8C8C8;
margin: 25px auto; 
border: solid 2px purple;
padding: 30px; 
}
#main {
background-color: rgb (0,0,0);
opacity: 0.93}
h1 {
text-align:center;
font-family:'Roboto Condensed', sans-serif;
font: 28pt;
color: purple;
}
h4 {
text-align: center 
font-family:'Roboto Condensed', sans-serif;
font: 18pt;
color: purple;
}
hr {
height: 2px;
color: black;
}
p {
font-family:'Roboto Condensed', sans-serif;
font-size: 12pt;
text-align: left;
text-indent: 24px;
color: black;
margin-left: 20 px; 
padding: 30 px; 
}

ol {
text-align: left;
font-family:'Roboto Condensed', sans-serif; 
font-size: 12pt;
}
form {
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 11pt;
	padding: 10px;
}
button {
color: #444444;
text-shadow:0px 1px 1px #ffffff;
border-bottom: 2px solid #b2b2b2;
}
input {
font-size:120%;
color: #5a5854;
background-color: #f2f2f2;
border: 1px solid #bdbdbd;
border-radius:5px;
padding: 5px 5px 5px 30px;
background-repeat: no-repeat;
background-position: 8px 9px;
display: block;
margin-bottom: 10px;}
input: focus, input:hover {
	background-color: #ffffff;
border: 1px solid #b1e1e4;}

img {
-moz-box-shadow: -5px -5px #777777;
-webkit-box-shadow: -5px -5px #777777;
box-shadow: -5px -5px #777777;
border: 5px solid #ee3e80;
padding: 10px;
width:200px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius:10px;}
nav ul{
	background-color: #00b0b2;
	font-family: sans-serif;
	overflow: hidden;
	padding: 0;
	text-align: center
	margin: 0;
}
nav ul li{
	display: inline-block;
	padding: 5px;
	color: #e7e7e7;
background-color: DarkCyan	
}
nav ul li:hover{
	background-color: #ee3e80;	
}
a{
	text-decoration: none;
	color: inherit;
}

